# Ignore everything:
/*
node_modules
dist
build
coverage
.eslintignore
*.png
*.svg
*.jpg
*.jpeg
*.svg
.*ignore*
.gitkeep
*.hbs
*.html
*.svg
*.md

# Format the following:
!/repos
repos/**/dist
repos/**/*.md
repos/**/node_modules
repos/**/dist
repos/**/build
repos/**/coverage
repos/**/.eslintignore
repos/**/*.png
repos/**/*.svg
repos/**/*.jpg
repos/**/*.jpeg
repos/**/*.svg
repos/**/.*ignore*
repos/**/.gitkeep
repos/**/*.hbs
repos/**/*.html
repos/**/*.svg
repos/**/*.md
